.app {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__logo {
  cursor: pointer;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ant-card {
  margin: 20px 10px !important;
  height: 300px;
}

.ant-card-body {
  padding: 0 !important;
}

.ant-card-cover {
  height: 60% !important;
}

.ant-card-cover img {
  height: 100%;
  width: 100%;
}

.card__content {
  margin: 20px 10px;
}

.card__content p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  font-weight: bold;
}

.card__content__group-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px
}

.ant-card-hoverable {
  cursor: auto !important;
}
